<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612970434114-a7k5um7um4r38dqkc464rdkutighaaq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612970434114-a7k5um7um4r38dqkc464rdkutighaaq5</string>
	<key>API_KEY</key>
	<string>AIzaSyDHa1egzikY_GzhSRCzSu3UKMw9ChSMZbY</string>
	<key>GCM_SENDER_ID</key>
	<string>612970434114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cemnisan.MV-MovieApp</string>
	<key>PROJECT_ID</key>
	<string>mv-movieapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mv-movieapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612970434114:ios:5a0c44534d23e5448d67db</string>
</dict>
</plist>